/* Modular Scale
----------------------
16px @ 1:1.618  
960px @ 1:1.618 
----------------------

Pixels      Ems     Ems @ 16    % of 13
960.000     60      60          7,384.615
751.538     46.971  46.971      5,781.062
593.325     37.083  37.083      4,564.038
464.486     29.03   29.03       3,572.969
366.703     22.919  22.919      2,820.792
287.074     17.942  17.942      2,208.262
226.640     14.165  14.165      1,743.385
177.425     11.089  11.089      1,364.808
140.074     8.755   8.755       1,077.492
109.657     6.854   6.854       843.515
86.572      5.411   5.411       665.938
67.773      4.236   4.236       521.331
53.506      3.344   3.344       411.585
41.887      2.618   2.618       322.208
33.069      2.067   2.067       254.377
25.888      1.618   1.618       199.138
20.438      1.277   1.277       157.215
16.000      1       1           123.077
12.632      0.79    0.79        97.169
9.889       0.618   0.618       76.069
7.807       0.488   0.488       60.054
6.112       0.382   0.382       47.015
4.825       0.302   0.302       37.115
3.778       0.236   0.236       29.062
2.982       0.186   0.186       22.938
2.335       0.146   0.146       17.962
1.843       0.115   0.115       14.177
1.443       0.09    0.09        11.100
1.139       0.071   0.071       8.762
*/

/* Text meant only for screen readers */
.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* -------------------------------- */
/* Default and medium width layouts */
/* -------------------------------- */

/* =Menu
----------------------------------------------- */

.navigation-main {
    width: 100%;
}
.navigation-main ul {
    list-style: none outside none;
}
.navigation-main li {
    float: none;
}
.navigation-main a {
    display: block;
}

/* =Content
----------------------------------------------- */

.sticky {
}
.single .byline,
.group-blog .byline {
    display: inline;
}
.entry-content,
.entry-summary {
    margin: 1.618em 0 0;
}
.page-links {
    clear: both;
    margin: 0 0 1.618em;
}

/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/* =Media
----------------------------------------------- */

.site-header img,
.entry-content img,
.comment-content img,
.widget img {
    max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
img.size-full {
    max-width: 100%;
    width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: none;
}
.wp-caption {
    margin-bottom: 1.618em;
    max-width: 100%;
    border: 1px solid #ccc;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
}
.wp-caption-text {
    text-align: center;
}
.wp-caption .wp-caption-text {
    margin: 0.79em 0;
}
.site-content .gallery {
    margin-bottom: 1.618em;
}
.gallery-caption {
}
.site-content .gallery a img {
    max-width: 90%;
    height: auto;
    border: none;
}
.site-content .gallery dd {
    margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
    max-width: 100%;
}

/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] {
    overflow: hidden;
    margin: 0 0 1.618rem;
}
[class*="navigation"] .previous {
    float: left;
    width: 50%;
}
[class*="navigation"] .next {
    float: right;
    width: 50%;
    text-align: right;
}

/* =Widgets
----------------------------------------------- */

.widget {
    margin: 0 1.618rem 1.618rem 0;
}

/* Make sure select elements fit in widgets */
.widget select {
    max-width: 100%;
}

/* Search widget */
.widget_search .submit {
    display: none;
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .navigation-paging, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
    display: block;
}

/* =Kevatkartano
----------------------------------------------- */

body {
    background: none repeat scroll 0 0 #F1F7E9;
}
.site {
    overflow: hidden;
    border-top: 0.488rem solid purple;
}
.site-header {
    float: right;
    width: 30%;
    margin-top: 0.488rem;
}
.site-footer {
    overflow: hidden;
    padding: 0 3.326rem;
    width: 100%;
    font-size: 13px;
    font-size: 0.79rem;
}
.page-header {
    margin-bottom: 1.618rem;
    padding: 1.618rem;
    border: 1px solid gray;
    background-image: url("../bkg.jpg");
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FAFAFA;
    text-shadow: 2px 2px 2px #4F4F4F;
}
.page-title {
    font-size: 68px;
    font-size: 4.236rem;
}
.page-header .taxonomy-description {
    font-weight: 400;
}
.post {
    padding: 0 1.618rem 0;
}
.content-area {
    float: left;
    margin: 1.618rem;
    width: 60%;
}
.post > .entry-meta {
    padding-bottom: 1.618rem;
    border-bottom: 2px dotted #B5ADB1;
}
.navigation-post {
    padding: 0 1.618rem;
    width: auto;
}
.site-secondary {
    float:right;
    width: 30%;
}
.menu-primary-container {
    margin-bottom: 1.618em;
}

/* Smaller screens */
@media screen and (max-width: 620px) {
    html {
        font-size: 13px;
        font-size: 79%;
    }
    .site-header {
        float: none;
        margin: 0.79rem;
        width: auto;
    }
    .page-header {
        padding: 0.79rem;
    }
    .page-title {
        font-size: 2.618rem;
    }
    .menu-primary-container .menu-item {
        display: inline-block;
        margin-right: 1.618rem;
    }
    .primary-sidebar .widget {
        display: inline-block;
        margin-right: 1.618rem;
        min-width: 45%;
        vertical-align: top;
    }
    .post {
        padding: 0 0.79rem;
    }
    .content-area {
        float: none;
        margin: 0.79rem;
        width: auto;
    }
    .site-secondary {
        float: none;
        margin: 0.79rem 0.79rem 0.79rem 1.58rem;
        width: auto;
    }
    .site-footer {
        padding: 0 1.58rem;
        width: auto;
    }
    .widget {
        margin: 0 1em 1em 0;
    }
    .navigation-post {
        padding: 0 0.79rem;
        width: auto;
    }
}

/* Bigger screens */

 @media (min-width: 1360px) {
    .site-header {
        float: right;
        margin-top: 0.79em;
        width: 20rem;
    }
    .site-main {
        overflow: hidden;
    }
    .content-area {
        float: left;
        width: 65%;
    }
    .site-secondary{
        float: none;
        overflow: hidden;
        margin-top: 1.618em;
        width: auto;
    }
}